.search__label
  font-size 15px
  line-height 22px
  color comet
  display block
  margin-bottom 5px

.search__input
  border 1px solid #CBCBCB
  box-sizing border-box
  padding 10px 15px
  font-size 14px
  display block
  width 100%
  border-radius 5px

.search__row
  display flex
  align-items center

.search__age-defis
  margin 0 10px
  font-weight 300
  font-size 13px
  color #A4A4B8
.search-filter__block.tags
   max-width 100% !important
